fastapi
uvicorn[standard]
sqlalchemy[asyncio]   # async engine support
asyncpg
geoalchemy2
psycopg2-binary
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
aiofiles
requests
pycryptodome
web3
rasterio
numpy
torch
segmentation-models-pytorch
albumentations
torchvision
celery
redis
alembic
